@size-border: 2px;
@size-xsmall: 4px;
@size-small: 8px;
@size-medium: 16px;
@size-large: 32px;
@size-xlarge: 64px;
@size-xxlarge: 128px;
@size-max-form: 800px;

@background: #282a36;
@foreground: #f8f8f2;
@accent: #ff79c6;
@shadow-light: rgba(0, 0, 0, 0.2);
@panel-back: rgba(0, 0, 0, 0.5);

* {
	text-align: left;
	text-transform: lowercase;
}

html,
body {
	background: @background;
	margin: 0;
	padding: 0;
	user-select: none;
	overflow: hidden;
	font-family: monospace, sans-serif;
	color: @foreground;
}

h1 {
	font-size: 3em;
	text-shadow: @size-xsmall @size-xsmall @shadow-light;
}

p {
	font-size: 0.85em;
}

a {
	font-size: 1.5em;
	pointer-events: all;
	cursor: pointer;
	text-decoration: none;
	color: white;
	text-decoration: underline;
}

hr {
	border: @size-border solid @background;
	margin: @size-small 0;
}

sup {
	font-size: 0.8em;
}

#main-container {
	display: flex;
}

#main-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	margin: @size-medium;
	background: @panel-back;

	@media screen and (min-width: 0px) and (max-width: 720px) {
		display: none;
	}
}

#title {
	padding: @size-medium;
}

#description-panel {
	padding: @size-medium;
}

.keyword {
	color: @accent;
	font-style: italic;
	font-size: 1.3em;
}
